<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Ludothèque</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		<div class="container-wrapper">
			<div th:replace="~{fragments/myTemplate::header}"/>

			<main class="container">

				<div>
					<h1>Bienvenue sur le site de la Ludothèque !</h1>
				</div>

			</main>


			<div th:replace="~{fragments/myTemplate::footer}"/>
		</div>
	</body>
	
</html>